.box {
    margin-bottom: 16px;
    margin-right: 12px;
}

.genre {
    font-weight: 600;
    padding-top: 16px;
    margin-bottom: 12px;
    font-size: large;
}

.title-ext {
 font-weight: 450;
 font-size: medium;
}

