<div class="container-fluid">
    <app-page-header></app-page-header>

    <div *ngIf="!(isLoading$ | async) && groupedMovieList">

        <div *ngFor="let item of groupedMovieList">
            <div class="genre">
                {{item.genre}}
            </div>

            <div class="row">
                <div *ngFor="let movie of item.movies" class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <a [routerLink]="['/movie-detail',movie.slug]" class="card box">
                        <img class="card-img-top" src="{{movie.backdrop}}" alt="{{movie.title}}">
                        <div class="card-body">
                            <h5 class="card-title title-ext">{{movie.title}}</h5>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div *ngIf="(isLoading$ | async)" class="spinner-container">
        <app-loading-indicator> </app-loading-indicator>
    </div>

</div>