/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { padding-top: 20px; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner-container {
    text-align: center;
    vertical-align: middle;
}

.page-header {
    padding: 16px;
    margin: 12px;
}

.title-ext {
    font-weight: 450;
    font-size: medium;
}
   


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
